*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.sliderContainer{
    padding: 2.1rem;
}
.sliderWarapper{
    position: relative;
    top: 80px;
    max-width: 48rem;
    margin: 0 auto;
}
.slider{
    display: flex;
    aspect-ratio: 16 /9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 0 30px white;
    border-radius: 10px;
}
.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.sliderNav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}
.sliderNav a{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: white;
    opacity: 0.75;
    transition: all ease-in-out 0.7s;
}
.sliderNav a:hover{
    opacity: 1;
    box-shadow: 0 0 10px white;
    transform: scale(1.5);
}




